{% extends "layout.html" %}

{% block main %}
<div class="container-sm">
    <div class="mb-3">
        <form action="/buy" method="post" class="d-grid col-6 gap-2 mx-auto">
            <h3>Submit a buy order</h3>
            <input type="text"autocomplete="off" autofocus class="form-control" id="symbol" name="symbol" placeholder="Symbol" required>
            <input type="number" autocomplete="off" autofocus class="form-control" id="shares" name="shares" min="0" placeholder="Quantity" required>
            <button class="btn btn-primary" type="submit">Buy</button>
        </form>
    </div>
</div>

{% endblock %}
