{% extends "layout.html" %}

{% block main %}

<div class="container-sm">
    <h1 class="mb-5"> Purchase history</h1>
    <table class="table table-striped table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th>Symbol</th>
                <th>Shares Buy/Sell</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.stock_price }}</td>
                    <td>{{ transaction.purchase_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}